#icon
{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  width: 50px;
  padding: 10px;
  filter: contrast(100%);
 }

 .Blanco
 {
 color: aliceblue;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 header
 {
  width: 100%;
  background-color: #23367A;
  display: flex;
  justify-content: space-between;
 }
 body
 { margin: 0px;
  padding-bottom: 0px;
}
img header 
{
  filter: invert (75%);
}


nav{
  padding: 30px;
}

ul {
  
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}
a {
  color:aliceblue;
}

li {
  display: inline;
}
header h1
{
  margin-top: 30px;
}
header Button
{
  margin-top: 30px;
  margin-bottom: 30px;
}
header input 
{
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}
article img
{
  width: 100%;
 }

 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: #23367A;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 80px;
  text-align: right;
}
footer
{
  padding:0px;
  margin: 0px;
  width: 100%;
  background-color: #23367A;
 }
 footer img
 {
  width: 5%;
 }
 .patas
 {
  text-align: center;
 }
 .redes
 {
  padding-top: 0px;
  text-align: right;
  padding-right: 20px;
 }
 footer li
 {
  display: inline;
  vertical-align:middle;
  padding: 10px;
}
